<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <contextName>potential</contextName>
    <property name="LOG_HOME" value="/home/work/logs" />

    <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>potential-log</key>
            <defaultValue>head0</defaultValue>
        </discriminator>

        <sift>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/qbit.log</file>

                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n
                    </Pattern>
                </encoder>

                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>${LOG_HOME}/qbit.%i.log.zip</FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>

                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>
    <logger name="java.sql.*" level="error" additivity="false">
        <appender-ref ref="FILE-THREAD" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE-THREAD" />
    </root>

</configuration>